#################
## Netbeans
#################

# Netbean project files
nbproject/*
!nbproject/project.properties
!nbproject/project.xml


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
