# Public access to all files
allow from all

# No index for all files and no CGI execution (for security of "upload" directory)
OPTIONS -ExecCGI -Indexes

# YOU SHALL NOT PASS
<FilesMatch "\.(php[3-9]?|phtml)$">  
Order Deny,Allow
Deny from All
</FilesMatch>
